<div class="detalle-patron-container">
  <button (click)="volver()" class="btn-volver">⬅ Volver</button>
  <div *ngIf="patron">
    <h1>{{ patron.nombre }}</h1>
    <span>{{ patron.categoria }}</span>
  
    <h3>Intención</h3>
    <p>{{ patron.intencion }}</p>
  
    <h3>Aplicabilidad</h3>
    <p>{{ patron.aplicabilidad }}</p>
  
    <h3>Descripción</h3>
    <p>{{ patron.descripcion }}</p>
  
    <h3>UML (GoF)</h3>
    <iframe *ngIf="patron.umlGofUrl"
            [src]="patron.umlGofUrl | safeUrl"
            width="100%"
            height="500"
            frameborder="0"
            allowfullscreen>
    </iframe>
  
    <h3>Ejemplo del libro</h3>
    <p>{{ patron.ejemploLibro.descripcion }}</p>
    <a [href]="patron.ejemploLibro.githubUrl" target="_blank">Ver en GitHub</a>
    <a [href]="patron.ejemploLibro.zipPath" download>⬇️ Descargar ZIP</a>
  
    <h3>Ejemplo adicional</h3>
    <h4>{{ patron.ejemploExtra.titulo }}</h4>
    <p>{{ patron.ejemploExtra.descripcion }}</p>
    <pre *ngFor="let fragmento of patron.ejemploExtra.fragmentosCodigo">
  {{ fragmento }}
    </pre>
    <h4>Diagrama del ejemplo</h4>
    <iframe *ngIf="patron.ejemploExtra.umlEjemploUrl"
            [src]="patron.ejemploExtra.umlEjemploUrl | safeUrl"
            width="100%"
            height="500"
            frameborder="0"
            allowfullscreen>
    </iframe>
  
    <h3>Ejercicio</h3>
    <p>{{ patron.ejercicio.enunciado }}</p>
</div>
  </div>